<%= form_for(@meeting_time) do |f| %>
  <% if @meeting_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting_time.errors.count, "error") %> prohibited this meeting_time from being saved:</h2>

      <ul>
      <% @meeting_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monday %><br />
    <%= f.check_box :monday %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br />
    <%= f.check_box :tuesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br />
    <%= f.check_box :wednesday %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br />
    <%= f.check_box :thursday %>
  </div>
  <div class="field">
    <%= f.label :friday %><br />
    <%= f.check_box :friday %>
  </div>
  <div class="field">
    <%= f.label :saturday %><br />
    <%= f.check_box :saturday %>
  </div>
  <div class="field">
    <%= f.label :sunday %><br />
    <%= f.check_box :sunday %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br />
    <%= f.time_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br />
    <%= f.time_select :endTime %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.date_select :endDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
