<!-- <h1>Home#index</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>Find me in app/views/home/index.html.erb</p> -->

      <div id="chooseObjects">
        <div id="leftList" class ="left">
          <div id="list1" class="listContainer">
            <% @itemsDict.each do |person, objs| %>
              <dl>
                <dt><%= person.firstName %></dt>
                <% objs.each do |item| %>
                  <dd><p><%= item.name %></p>
                  <img class="iosListImage" attrvolume="<%= item.volume %>" attrarea="<%= item.area %>" attrheight="<%= item.height %>" attrwidth="<%= item.width %>" attrlength="<%= item.length %>" attrdiameter="<%= item.diameter %>" attrsurface_area="<%= item.surface_area %>" attrarticle="<%= item.article %>" attrname="<%= item.name %>" src="<%= item.filename %>"></dd>
                <% end %>
              </dl>
            <% end %>
          </div>
        </div>

        <div id="rightList" class="right">
          <!-- <div id="list2" class="listContainer">
          </div> -->
        </div>
      </div>

      <div id="animateObjects" class="span10">
        <div>
          <div id="leftObject" class="objectAnimation left">
          </div>
          <div id="rightObject" class="objectAnimation right">
          </div>
        </div>
        <div id="description">
          <%= image_tag "arrows-double-reversed.svg", :id=>"reverseDescription",  :width=>"50" %>
          <p id="verboseDescription"></p>
        </div>
      </div>

      <div id="analogyObjects" class="span10">
        <div id="instructionText" class="row">
          The DIMENSION of <span class="orange" id="analogyleftObjectName1"></span> is to the DIMENSION of 
          <span class="maroon" id="analogyrightObjectName1"></span> 
          <br/> as the DIMENSION of <span id="analogyleftObjectName2"></span> is to the DIMENSION of 
          <span id="analogyrightObjectName2"></span>.
          <br/><br/><br/>
        </div>
        <div class="row">
          <div class="span5">
            <div id="analogyleftObject" class="left">
            </div>
          </div>
          
          <div class="span5">
            <div id="analogyrightObject" class="left">
            </div>
          </div>
        </div>
      </div>


      <div id="predictionObjects" class="span10">
        <div class="row">
          <p>
            <!-- If <span id="leftPredictionObjectName"></span> was this big, what size would <span id="rightPredictionObjectName"></span> be? <br /> -->
          Drag the smaller object to the correct size!
          <button type="button" id="predictionButton" class="btn btn-primary">Check me!</button>
        </p> 
          <span id="predictionRatio"><span id="predictionleftObjectSize"></span> : <span id="predictionrightObjectSize"></span></span>
          <span class="label label-info" id="predictionTooLarge">That's as close as I can get.</span>
          <span class="label label-success" id="predictionCorrect">Correct!</span>
          <span class="label label-warning" id="predictionClose">You're getting close.</span>
          <span class="label label-important" id="predictionIncorrect">You're pretty far off.</span>
          <br /><br />
        </div>
        <div class="row">
          <div class="span6">
            <div id="predictionleftObject" class="left">
            </div>
          </div>
          
          

          <div class="span6">
            <div id="predictionrightObject" class="left">
            </div>
          </div>

          
        </div>
      </div>