<!-- <h1>Home#index</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>Find me in app/views/home/index.html.erb</p> -->

      <div id="chooseObjects">
        <div id="leftList" class ="left">
          <div id="list1" class="listContainer">
            <% @itemsDict.each do |person, objs| %>
              <dl>
                <dt><%= person.firstName %></dt>
                <% objs.each do |item| %>
                  <dd><p><%= item.name %></p>
                  <img class="iosListImage" attrvolume="<%= item.volume %>" attrarea="<%= item.area %>" attrheight="<%= item.height %>" attrwidth="<%= item.width %>" attrlength="<%= item.length %>" attrdiameter="<%= item.diameter %>" attrsurface_area="<%= item.surface_area %>" attrarticle="<%= item.article %>" attrname="<%= item.name %>" src="<%= item.filename %>"></dd>
                <% end %>
              </dl>
            <% end %>
          </div>
        </div>

        <div id="rightList" class="right">
          <!-- <div id="list2" class="listContainer">
          </div> -->
        </div>
      </div>

      <div id="animateObjects" class="span8">
        <div>
          <div id="leftObject" class="objectAnimation left">
          </div>
          <div id="rightObject" class="objectAnimation right">
          </div>
        </div>
        <div id="description">
          <%= image_tag "arrows-double-reversed.svg", :id=>"reverseDescription",  :width=>"50" %>
          <p id="verboseDescription"></p>
        </div>
      </div>

      <div id="analogyObjects" class="span8">
        <div>
          <div id="analogyleftObject" class="left">
          </div>
          <div id="analogyrightObject" class="right">
          </div>
        </div>
      </div>

      <div id="predictionObjects" class="span8">
        <div>
          <div id="predictionleftObject" class="left">
          </div>
          <div id="predictionrightObject" class="right">
          </div>
        </div>
      </div>
