<h1>Listing items</h1>
<table class="itemTable">
  <tr>
    <th>Image</th>
    <th>Article</th>
    <th>Name</th>
    <th>Diameter</th>
    <th>Surface Area</th>
    <th>Length</th>
    <th>Width</th>
    <th>Height</th>
    <th>Area</th>
    <th>Volume</th>
    <th>Flagged Count</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><img src="<%= item.filename %>" width="50"/></td>
    <td><%= item.article %></td>
    <td><%= link_to item.name, item %></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.diameter) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="diameter" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.surface_area) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="surface-area" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.length) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="length" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.width) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="width" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.height) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="height" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.area) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="area" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><span class="dim-val"><%= printValueAsSciNotation(item.volume) %></span><a href="#" data-item-id="<%= item.id %>" data-dimension="volume" class="flag-it">&nbsp;<i class="icon-flag"></i></a></td>
    <td><%= item.flags.length %></td>

    <% if current_person == item.person %>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


