<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Astronomical Proportions</title>

	<%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<style>
		body {
		  padding-top: 60px;
		  padding-bottom: 40px;
		}

		.affix {
          position: fixed;
          top: 20px;
          left: auto;
          right: auto;
        }
	</style>
</head>
<body>
	<div id="main">
		<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" id="home" href="#">Astronomical Proportions</a>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <!-- <li class="dimensionSelector" id="diameter"><a href="#diameter">Diameter</a></li> -->
	            <!-- <li class="dimensionSelector" id="surface_area"><a href="#surface_area">Surface Area</a></li> -->
	            <!-- <li class="dimensionSelector" id="length"><a href="#length">Length</a></li> -->
	            <!-- <li class="dimensionSelector" id="width"><a href="#width">Width</a></li> -->
	            <!-- <li class="dimensionSelector" id="height"><a href="#height">Height</a></li> -->
	            <!-- <li class="dimensionSelector" id="area"><a href="#area">Area</a></li> -->
	            <!-- <li class="dimensionSelector" id="volume"><a href="#volume">Volume</a></li> -->
	          </ul>
	        </div> <!--/.nav-collapse -->
	      </div> <!-- /.container -->
	      <!-- left sidebar -->
	      <div id="user_nav">
					<% if person_signed_in? %>
						Signed in as <span id="current_person"><%= current_person.email %></span><span id="current_person_id" class="hidden"><%= current_person.id %></span>. Not you?
						<%= link_to "Sign out", destroy_person_session_path %>
					<% else %>
						<%= link_to "Sign up", new_person_registration_path %> or <%= link_to "Sign in", new_person_session_path %>
						<% if cookies["last_person_id"] %>
							<span id="last_person_id" class="hidden"><%= cookies["last_person_id"] %></span>
						<% end %>
					<% end %>
				</div>
	    </div> <!-- /.navbar-inner -->
	  </div> <!-- /.navbar-fixed-top -->

		<!-- Example row of columns -->
	    <div class="row-fluid">
		  <!-- left sidebar -->
	     	<div class="span2">
	            <!-- <h2>Left Nav</h2> -->
	            <ul class="nav nav-list" data-spy="affix">
	                <li class="dimensionSelector" id="li-diameter"><a href="#diameter">Diameter</a></li>
		            <li class="dimensionSelector" id="li-surface_area"><a href="#surface_area">Surface Area</a></li>
		            <li class="dimensionSelector" id="li-length"><a href="#length">Length</a></li>
		            <li class="dimensionSelector" id="li-width"><a href="#width">Width</a></li>
		            <li class="dimensionSelector" id="li-height"><a href="#height">Height</a></li>
		            <li class="dimensionSelector" id="li-area"><a href="#area">Area</a></li>
		            <li class="dimensionSelector" id="li-volume"><a href="#volume">Volume</a></li>
	            </ul>
	        </div>

	        <div class="span8">
	        	<%= yield %>
	        </div>

	        <div class="span2">
	          <div class="sidenav" data-spy="affix">
	          	<a href="#" id="Analogy">Analogy Mode</a>
	          	<br /><br />
	            <a href="#" id="Prediction">Prediction Mode</a>
	          </div>
	        </div>
	    </div>
       <!--  <div class="hidden" id="dimension">

        </div> -->
        <!-- /left sidebar -->
		<% if flash[:notice] %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if flash[:alert] %>
			<p class="alert"><%= alert %></p>
		<% end %>
		
	</div>

</body>
</html>
